html {
    font-size: 14px;
}
body, a {
    color: #2f2f2f;
}
h1, h2, h3, h4, h5 {
    text-align: center;
}
h1 {
    font-size: 3.57rem; /* 50px */
}
h2 {
    font-size: 3.42rem; /* 48px */
}
h3 {
    font-size: 1.714rem; /* 24px */
}
h4 {
    font-size: 1.42rem; /* 20px */
}
h5 {
    font-size: 1.28rem; /* 18px */
}
p {
    line-height: 1.8;
}
ul {
    padding: 0px;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
}
main {
    padding-right: 43px;
    padding-left: 43px;
}
.container {
    padding: 0px;
}
div[class*="col-md"] {
    padding: 0px;
}
@media (min-width: 992px) {
    .container {
        max-width: 1280px;
    }
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.margin-bottom-15 {
    margin-bottom: 1.07rem;
}
.margin-bottom-20 {
    margin-bottom: 1.42rem;
}
.margin-bottom-40 {
    margin-bottom: 2.85rem;
}
.margin-bottom-50 {
    margin-bottom: 3.57rem;
}
.kone_container main{
    padding: 2.07rem 3.07rem;
}
.kone_container a {
    cursor: pointer;
}
/* About us detail */
.about_us_detail h1 {
    margin-bottom: 6.21rem;
}
.about_us_detail h2 {
    margin-bottom: 2.85rem;
}
.about_us_detail main{
    background: url("../../img/about-us-background.svg") no-repeat;
}
.about_us_detail .detail_divider{
    position: relative;
    text-align: center;
    padding: 1.8rem;
}
.about_us_detail .detail_divider h3{
    position: absolute;
    top: 1.8rem;
    left: 50%;
    transform: translateX(-50px);
    width: 30px;
}

.about_us_detail .detail_divider .vertical-line {
    display: inline-block;
    width: 5px;
    height: 110px;
    line-height: 1;
    vertical-align: middle;
    background-color: #1d1d1d;
}
.about_us_detail .detail_header__title {
    vertical-align: text-top;
    font-size: 1.42rem;
    text-align: left;
    color: #e5725e;
}
.about_us_detail .detail_content {
    max-width: 398px;
    text-align: center;
    margin:0 auto;
}
.about_us_detail .detail_content ul{
    max-width: 300px;
    text-align: center;
    margin:0 auto;
}
.about_us_detail .detail_content ul li{
    list-style: circle;
}
.about_us_detail .detail_section__title {
    float: left;
    color: #797979;
    padding-right: 0.71rem;
}
.about_us_detail .detail_section__content {
    margin-left:9rem;
}
.about_us_detail .detail_header__profile-img {
    transform: translateY(-3.71rem);
}
@media (max-width: 768px) {
    .about_us_detail .detail_header__profile-img {
        transform: translateY(0rem);
    }
    .about_us_detail .detail_section__content {
        margin-left: 0;
        clear: both;
    }
}

/* About Us CSS */
.about_us h5 {
    color: #e5725e;
}
.about_us main {
    padding: 6.07rem 9rem;
}
.about_us .about_us_section {
    position: relative;
    display: flex;
    justify-content: center;
/*    padding: 1.78rem; */
}
.about_us_section .about_us_section__title {
    position: absolute;
    left:50%;
    bottom: 1.78rem;
    transform:translateX(-50%);
    z-index: 999;
    color: #fff;
}
.about_us .about_us_section .about_us_section__image-link {
    border: solid 4px #fff;
}
.about_us .about_us_section .about_us_section__image-link:hover {
    border: solid 4px #e5725e;
}
@media (max-width: 768px) {
    .about_us main {
        padding: 0rem;
    }
}
/* Portfolio CSS */

.portfolio .portfolio_major_cate .divider {
    display: inline-block;
    width: 1px;
    height: 1.35rem; /* 19px */
    background: #979797;
    vertical-align: middle;
    margin: 0 2.85rem;
}
.portfolio .portfolio_major_cate a {
    color: #b2b2b2;
    text-decoration: none;
}
.portfolio .portfolio_major_cate a:hover,
.portfolio .portfolio_major_cate a:active{
    color: #2f2f2f;
    text-decoration: none;
}

.portfolio .portfolio_major_cate {
    margin: 3.57rem 0;
}

/* contact us css */
.contact_us h3 {
    margin: 3.57rem 0;
}
.contact_us .contact_us_info {
    display: flex;
    justify-content: center;
}